<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto text-center">
    <p class="mb-4">&copy; Animated Fashion. All rights reserved.</p>
    <nav>
      <ul class="flex justify-center space-x-4">
        <li><a href="/about" class="hover:underline">About Us</a></li>
        <li><a href="/contact" class="hover:underline">Contact</a></li>
        <li><a href="/privacy" class="hover:underline">Privacy Policy</a></li>
        <li><a href="/terms" class="hover:underline">Terms of Service</a></li>
        <li><a href="/faq" class="hover:underline">FAQ</a></li>
      </ul>
    </nav>
    <div class="mt-4">
      <p>Follow us on:</p>
      <ul class="flex justify-center space-x-4">
        <li><a href="https://facebook.com" class="hover:underline">Facebook</a></li>
        <li><a href="https://twitter.com" class="hover:underline">Twitter</a></li>
        <li><a href="https://instagram.com" class="hover:underline">Instagram</a></li>
      </ul>
    </div>
  </div>
</footer>
