<section class="pt-6">
    <div class="flex items-center justify-between">
        <p class="text-2xl font-bold px-3">Filters</p>
        <i class="pi pi-filter-fill"></i>
    </div>

    <form class="hidden lg:block">
        @for (item of filterData; track item.id ) {
        <div class="border-b border-gray-200 py-3 ">
            <span class="font-medium">{{item.name}}</span>
        </div>
        <div class="pt6">
            <div class="scroll-py-4">
                @for (opt of item.options; track opt.key) {
                <div class="flex items-center">
                    <p-checkbox [inputId]="opt.key" name="group" (onChange)="handleMultipleSelectFilter(opt.value,item.id)"
                         [value]="opt.value" [(ngModel)]="item.value" />
                    <label [for]="opt.key" class="ml-2"> {{ opt.label }} </label>
                </div>
                }
            </div>
        </div>
        <p-divider type="solid" class="border border-1 border-gray-400" />
        }

        @for (item of singleFilterData; track item.id ;) {
        <div class="border-b border-gray-200 py-6 ">
            <span class="font-medium">{{item.name}}</span>
        </div>
        <div class="pt6">
            <div class="scroll-py-4">
                @for (opt of item.options; track opt.key) {
                <div class="flex items-center">
                    <p-radiobutton [inputId]="opt.key" name="radioGroup" [value]="opt.value" [(ngModel)]="item.value" />
                    <label [for]="opt.key" class="ml-2"> {{ opt.label }} </label>
                </div>
                }
            </div>
        </div>
        <p-divider type="solid" class="border border-1 border-gray-400" />
        }
    </form>
</section>