.p-checkbox-checked .p-checkbox-box {
  background-color: #950948 !important;
  border-color: #a51858 !important;
}
.p-checkbox-box{
  border: 1px solid #ff3b3b !important;
}
.p-radiobutton-box{
  border: 1px solid #ff3b3b !important;
}
.p-radiobutton-checked .p-radiobutton-box {
  background-color: #950948 !important;
  border-color: #a51858 !important;
}
