
        <ng-container>
            <div class="flex flex-col justify-center items-center p-2 shadow-lg hover:scale-105 transition-all">
                <img [src]="item.imageUrl" alt="product name" class="w-full rounded-2xl h-[250px] object-contain" />
                <p class=" text-surface font-semibold text-md text-center">{{ item.title }}</p>
                <div class="flex gap-3">
                    <p class="text-md text-surface font-medium">₹{{ item.discountedPrice }}</p>
                    <p class="text-md text-surface line-through">₹{{ item.price }}</p>
                </div>
            </div>
        </ng-container>
    